<div ng-controller="createBannerController" style="    margin-top: 60px;">
    <div class="modal-body">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="desc">标题 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="desc" required="required" class="form-control col-md-7 col-xs-12" ng-model="title">
                                </div>
                            </div>
                                                    
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bannerorder">顺序 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number"  required="required" class="form-control col-md-7 col-xs-12" ng-model="sequence">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="desc">页面链接 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="desc" required="required" class="form-control col-md-7 col-xs-12" ng-model="url">
                                </div>
                            </div>                               
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bannerorder">图片 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="file" nv-file-select="" uploader="imageUploader">
                                    <img ng-src="{{bannerurl}}" ng-show="bannerurl" width="352" height="264">
                                </div>
                            </div>

                            </form>
                            

    </div>
    <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" style="margin: 13px;" ng-click="save();">保存</button>
                <button type="button" class="btn btn-default" style="margin: 13px;" ng-click="cancel();">取消</button>        
    </div>
    
</div>

