<div class="container" style="width: 1140px" ng-controller="ChefRestaurantController">
			
	<div class="row">
		<h3>名店推荐</h3>
	</div>

	<div class="row" style="border-top:1px solid #f2f2f2; padding: 10px 0px;">
		<span style="width: 228px; float: left; padding: 10px 10px;" ng-repeat="restaurant in restaurantList">
		<a ui-sref="main.restaurantDetail({restaurant:restaurant})" style="text-decoration-line: none; color: #0d0d0d;">
			<div class="text-center">
				<img src="./resources/img/{{restaurant.title}}.jpg" width="210px;" height="178px;">
			</div>
			<div class="text-center">
				{{restaurant.title}}
			</div>
		</a>
		</span>
	</div>

	<div class="row">
		<h3>名师风采</h3>
	</div>

	<div class="row" style="border-top:1px solid #f2f2f2; color: #0d0d0d; padding: 10px 0px;">
		<span style="float: left; height: 220px; width: 570px; padding: 10px 30px;" ng-repeat="chef in chefList">
		<a ui-sref="main.chefDetail({chef:chef})" style="text-decoration-line: none; color: #0d0d0d;">
			<span style="float: left; height: inherit; width: 150px; margin-right: 30px;">
				<img src="./resources/img/{{chef.name}}.jpg" class="img-responsive" alt="人名" style="height: 182px; width: 140px; cursor: pointer;">
			</span>
			<span style="float: left; height: inherit; width: 300px;">
				<div class="row">
					{{chef.name}}
				</div>
				<div class="row">
					{{chef.brief}}
				</div>
			</span>
		</a>
		</span>
	</div>
</div>