<div ng-controller="createLabourController" style="    margin-top: 60px;">
    <div class="modal-body">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="task-type">标题 <span class="required">*</span>
                                </label>        
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="title" required="required" class="form-control col-md-7 col-xs-12" ng-model="title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="news-title"> 餐厅/酒店名称<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="restaurant_name" required="required" class="form-control col-md-7 col-xs-12" ng-model="restaurant_name">
                                </div>
                            </div>     
<div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="news-title"> 描述<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="description" required="required" class="form-control col-md-7 col-xs-12" ng-model="description">
                                </div>
                            </div>                            
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="news-title">岗位职责 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="requirements" required="required" class="form-control col-md-7 col-xs-12" ng-model="requirements">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="brief">薪酬范围 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="remuneration" required="required" class="form-control col-md-7 col-xs-12" ng-model="remuneration">
                                </div>
                            </div>
<div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="brief">招聘方式 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="recruitment_method" required="required" class="form-control col-md-7 col-xs-12" ng-model="recruitment_method">
                                </div>
                            </div>                            
<div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="brief">工作地址 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="work_address" required="required" class="form-control col-md-7 col-xs-12" ng-model="work_address">
                                </div>
                            </div>                            
<div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="brief">任职 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="responsibilities" required="required" class="form-control col-md-7 col-xs-12" ng-model="responsibilities">
                                </div>
                            </div>                            
<div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="brief">联系人 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="contact" required="required" class="form-control col-md-7 col-xs-12" ng-model="contact">
                                </div>
                            </div>                            
<div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="brief">联系电话 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="contact_mobile" required="required" class="form-control col-md-7 col-xs-12" ng-model="contact_mobile">
                                </div>
                            </div>                             
                         
                            </form>

                        </div>
	<div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" style="margin: 13px;" ng-click="save();">保存</button>
    <button type="button" class="btn btn-default" style="margin: 13px;" ng-click="cancel();">取消</button>    
    </div>
	<script type="text/javascript" src="./jquery/jquery.min.js""></script>
    <script type="text/javascript" src="./froala_editor_2.6.5/js/codemirror.min.js"></script>
    <script type="text/javascript" src="./froala_editor_2.6.5/js/xml.min.js"></script>
 
    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="./froala_editor_2.6.5/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="./froala_editor_2.6.5/js/languages/zh_cn.js"></script>
    <script type="text/javascript" src="./froala_editor_2.6.5/js/plugins/image.min.js"></script>
 
    <!-- Initialize the editor. -->
    <script> 

    </script>
</div>

