<div ng-controller="createTutorialController" style="    margin-top: 60px;">
    <div class="modal-body">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="news-title">标题 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="app-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="newsTitle">
                                </div>
                            </div>
							<div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bannerorder">图片 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="input-append">  
                                          
                                        <a class="btn btn-primary"  onclick="$('input[id=lefile]').click();">添加图片</a>  
                                    </div> 
                                    <input id="lefile" type="file" style="display:none" nv-file-select uploader="imageUploader">  
                                    <img ng-src="{{image}}" ng-show="image" width="352" height="264">

                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bannerorder">视频 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="input-append">  
                                          
                                        <a class="btn btn-primary" onclick="$('input[id=lefile1]').click();">添加视频</a>  
                                    </div> 
                                    <input id="lefile1" type="file" style="display:none" nv-file-select uploader="imageUploader1">
                                    <video width="352" height="264" ng-src="{{video}}" controls autobuffer ng-show="video">
                                        
                                    </video>
                                </div>
                            </div>                              
                            </form>

                        </div>
	<div id='edit'></div>
	<button type="button" class="btn btn-default" style="margin: 13px;" ng-click="save();">保存</button>
	<button type="button" class="btn btn-default" style="margin: 13px;" ng-click="cancel();">取消</button>
 
    <div id="bg" ng-show="isLoading">
    <span>{{tips}}</span>
  </div>
</div>

