<div style="background: url(./resources/img/dise_02.jpg);background-repeat: round;" ng-controller="CultureController">
	<div class="container" style="width: 1140px;height: 800px;padding-top: 50px;">
		<div style="height: 450px;width: 1140px;display: inline-flex;">

			<div style="width: 800px; height: 600px;">
				<div style="width: 800px;">
				<p>闽菜是中国八大菜系之一，经历了中原汉族文化和当地古越族文化的混合、交流而逐渐形成。</p>
				<p>闽菜是以福州菜为基础，后又融合闽东、闽南、闽西、闽北、莆仙地方风味菜为主形成的菜系。</p>
				<p>福建人民经过与海外、特别是南洋群岛人民的长期交往，海外的饮食习俗也逐渐渗透到闽人的饮食生活之中，从而使闽菜成为带有开放特色的一种独特的菜系。</p>
				<p>闽菜以烹制山珍海味而著称，在色香味形俱佳的基础上，尤以“香”、“味”见长，其清鲜、和醇、荤香、不腻的风格特色，以及汤路广泛的特点，在烹坛园地中独具一席。</p>
				</div>
				<div class="p-thumb2"  >
				        
					<video ng-src="{{videoObj.url}}" width="580" height="400" controls style="margin-left: 100px;">
						  您的浏览器不支持 HTML5 video 标签。
					</video>						
				</div>

			</div>
			<div style="width: 300px; margin-left: 40px;" class="nice-paper">
				<h2>闽菜文化</h2>
				<ul>
					<li title="{{article.title}}" ng-repeat="article in data.content" ng-click="gotoDetail(article)">{{article.title}}</li>
				</ul>
			</div>
		</div>
</div>
</div>
