<div style="    background: url(./resources/img/dise_02.jpg);background-repeat: round;" ng-controller="CultureController">
	<div class="container" style="width: 1140px;height: 800px;padding-top: 50px;">
		<div style="height: 450px;width: 1140px;display: inline-flex;">

						
						
						<div style="width: 800px;height: 450px;background: #ffffff;">
							<div class="p-thumb2"  >
							        <a href="https://v.qq.com/x/page/r0520liqsz5.html" title="闽菜走天下" data-from="1-1" target="video"></a>
							        <i class="bg"></i>
									<img class="quic" src="./resources/img/fujian_food_culture.jpg">
									<span class="time-tip">05:49</span>
							</div>

						</div>
						<div style="width: 340px;margin-left: 40px;" class="nice-paper">
							<h2 >精彩文章
								
							</h2>
							<ul>
								<li title="{{article.title}}" ng-repeat="article in articles" ng-click="gotoDetail(article)">{{article.name}}</li>
							</ul>

						</div>
						
						
					</div>
</div>
</div>
