<div style="width: 100%;" ng-controller="HomePageController">

			
			<div style="width: 100%;height: 400px;background: url(./resources/img/food1_02.jpg); text-align: center;">
				
				<div style="font-size: 16px; color: #000000; cursor: pointer; height: inherit;">
					<p style="line-height: 50px; font-size: 36px; padding-top: 40px;">2017福建餐饮产业发展大会</p>
					<p style="line-height: 50px; font-size: 42px; color: #8C2026;">提升闽菜竞争力  加快闽菜走出去</p>
					<p style="line-height: 16px; margin-top: 40px; margin-bottom: 2px;"><span style="font-weight: bold; margin-left: 17px;">指导单位：</span><span style="letter-spacing: 19px;">福建省商务厅</span></p>
					<p style="line-height: 16px; margin-bottom: 2px;"><span style="font-weight: bold;">主办单位：</span><span style="letter-spacing: 1.5px;">福建省餐饮烹饪行业协会</span></p>
					<p style="line-height: 16px; margin-bottom: 2px;"><span style="font-weight: bold;">协办单位：</span>各市县区餐饮烹饪行业协会</p>
					<p style="line-height: 16px; margin-bottom: 2px;"><span style="margin-left: 92px;letter-spacing: 13px;">中国网海峡频道</span></p>
					<p style="line-height: 16px; margin-bottom: 2px;"><span style="margin-left: 80px;">福建天益餐饮管理有限公司</span></p>
				</div>

			</div>
			

			<div class="container" style="width: 1140px;height: 332px;">
				<h2 style="margin-top: 40px;font-size: 20px;color: #333333;">闽菜菜谱
					<a style="font-size: 14px;color: #999999;float: right;margin-top: 10px;" ui-sref="main.caipu">更多></a>
				</h2>
				<div class="line"></div>
				<!-- <div style="width: 1140px;">
					<img src="./resources/img/left-grey_05.png" style="height: 188px;width: 50px;">
				</div> -->
				
				<div style="height: 215px;width: 1140px;margin-top: 35px;display: inline-flex;">

					<div class="caipu-img img-pre" style="display: none;"></div>

					<div class="caipu-img show-img" style="height: 214px;width: 192px;margin-left: 20px;text-align: center;" ng-repeat="snack in snackList | filter: {type: 1} | slice:0:5">
						<a style="text-decoration-line: none;"ui-sref="main.snackDetail({snackTitle:snack.title})">
						<div style="height: 144px;width: 192px; overflow: hidden;">
							<img src="./resources/img/{{snack.title}}.jpg" class="img-responsive" alt="Cinque Terre" style="height: 188px;width: 192px;cursor: pointer;">
						</div>
						<h4 style="color:#333333;">{{snack.title}}</h4>
						</a>
					</div>
					
					<div class="caipu-img img-next" style="display: none;">
							

					</div>
				</div>
			</div>
			<div style="width: 100%;height: 548px;background: url(./resources/img/dise_02.jpg);padding-top: 50px;display: inline-flex;">
				
				<div class="container news-tech">
					<div style="padding-top: 1px;margin-left: 40px; width: 498px;">
						<h2 style="margin-top: 40px;font-size: 20px;color: #333333;">行业资讯
							<a style="font-size: 14px;color: #999999;float: right;margin-top: 10px;" ui-sref="main.news">更多></a>
						</h2>
						<div class="line news-line"></div>

						<div class="news-content1" ng-repeat="news in newsList | slice:0:2">
							<a ui-sref="main.newsDetail({news:news})">{{news.title}}</a>
							<p style="font-size: 14px;letter-spacing: 2px;margin-top: 18px;color: #666666;">{{news.brief}}...</p>
							<h3>{{news.createdTime}}</h3>
						</div>
					</div>
					<div style="padding-top: 1px;margin-left: 50px; width: 485px;">
						<h2 style="margin-top: 40px;font-size: 20px;color: #333333;">闽菜教学
							<a style="font-size: 14px;color: #999999;float: right;margin-top: 10px;">更多></a>
						</h2>
						<div class="video-content1">
							<div style="width: 237px;height: 306px;margin-top: 10px;">
								<div class="p-thumb"  >
							        <a href="http://v.youku.com/v_show/id_XMjgyNzA2NTg5Mg==.html" title="披萨制作" data-from="1-1" target="video"></a>
							        <i class="bg"></i>
									<img class="quic" src="./resources/img/icon2.jpg">
									<span class="time-tip">00:09</span>
								</div>
								<div class="p-thumb"  style="margin-top: 10px;">
								        <a href="http://v.youku.com/v_show/id_XMjgyNzA2NTg5Mg==.html" title="披萨制作" data-from="1-1" target="video"></a>
								        <i class="bg"></i>
										<img class="quic" src="./resources/img/icon1.jpg">
										<span class="time-tip">00:09</span>
								</div>
							</div>
							<div style="width: 237px;height: 306px;margin-top: 10px;margin-left: 10px;">
								<div class="p-thumb"  >
							        <a href="http://v.youku.com/v_show/id_XMjgyNzA2NTg5Mg==.html" title="披萨制作" data-from="1-1" target="video"></a>
							        <i class="bg"></i>
									<img class="quic" src="./resources/img/icon1.jpg">
									<span class="time-tip">00:09</span>
								</div>
								<div class="p-thumb"  style="margin-top: 10px;">
								        <a href="http://v.youku.com/v_show/id_XMjgyNzA2NTg5Mg==.html" title="披萨制作" data-from="1-1" target="video"></a>
								        <i class="bg"></i>
										<img class="quic" src="./resources/img/icon2.jpg">
										<span class="time-tip">00:09</span>
								</div>
							</div>
							
						</div>
					</div>
				</div>

			</div>

			<div style="background-color: #f3f3f3;width: 100%;height: 460px;padding-top: 50px;">
				<div class="container famous" style="width: 1140px;height: 372px;">
					<a href="" class="active" ng-mouseover="changeTab(1)">名师</a>
					<a href="" ng-mouseover="changeTab(2)">名店</a>
					<a href="" ng-mouseover="changeTab(3)">名小吃</a>
					<span class="famous-more" ng-click="gotoFamous()">
						更多>
					</span>
					
					<div class="line"></div>
					<!-- <div style="width: 1140px;">
						<img src="./resources/img/left-grey_05.png" style="height: 188px;width: 50px;">
					</div> -->
					
					<div style="height: 215px;width: 1140px;margin-top: 35px;display: inline-flex;" ng-show="famousChef">

						<div class="caipu-img img-pre" style="display: none;"></div>

						<div class="caipu-img show-img "  style="height: 214px;width: 192px;margin-left: 20px;text-align: center;" ng-repeat="chef in chefList | slice:0:5">
							<a style="text-decoration-line: none;" ui-sref="main.chefDetail({chef:chef})"><div style="height: 188px;width: 192px;overflow: hidden;">
								<img src="./resources/img/{{chef.name}}.jpg" class="img-responsive" alt="Cinque Terre" style="height: 188px;width: 192px;cursor: pointer;">
								
							</div>
							<h4 style="color:#333333;">{{chef.name}}</h4>
							</a>
							<!-- <h5>厦门国际会展酒店行政总厨</h5> -->
						</div>
						
						
						<div class="caipu-img img-next" style="display: none;"></div>
					</div>

					<div style="height: 215px;width: 1140px;margin-top: 35px;display: inline-flex;" ng-show="famousHotel">

						<div class="caipu-img img-pre" style="display: none;"></div>

						<div class="caipu-img show-img "  style="height: 214px;width: 192px;margin-left: 20px;text-align: center;" ng-repeat="restaurant in restaurantList | slice:0:5">
							<a style="text-decoration-line: none;" ui-sref="main.restaurantDetail({restaurant:restaurant})"><div style="height: 188px;width: 192px;overflow: hidden;">
								<img src="./resources/img/{{restaurant.title}}.jpg" class="img-responsive" alt="Cinque Terre" style="height: 188px;width: 192px;cursor: pointer;">
								
							</div>
							<h4 style="color:#333333;">{{restaurant.title}}</h4>
							</a>
						</div>
						
						<div class="caipu-img img-next" style="display: none;"></div>
					</div>

					<div style="height: 215px;width: 1140px;margin-top: 35px;display: inline-flex;"ng-show="famousSnack">

						<div class="caipu-img img-pre" style="display: none;"></div>

						<div class="caipu-img show-img "  style="height: 214px;width: 192px;margin-left: 20px;text-align: center;" ng-repeat="snack in snackList | slice:0:5">
							<a style="text-decoration-line: none;" ui-sref="main.snackDetail({snack:snack})"><div style="height: 188px;width: 192px;overflow: hidden;">
								<img src="./resources/img/{{snack.title}}.jpg" class="img-responsive" alt="Cinque Terre" style="height: 188px;width: 192px;cursor: pointer;">
								
							</div>
							<h4 style="color:#333333;">{{snack.title}}</h4>
							</a>
						</div>

						<div class="caipu-img img-next" style="display: none;"></div>
					</div>
				</div>
			</div>
			<div style="width: 100%;height: 360px;display: inline-flex;">
				
				<div class="container transform-info">
					<div style="width: 330px;">
						<h2 class="transform-title">餐饮转让
							<a style="font-size: 14px;color: #999999;float: right;margin-top: 10px;" ui-sref="main.industryInfo">更多></a>
						</h2>
						<ul>
							<li ng-repeat="info in infoList.transferInfo | slice:0:7">{{info.title}}</li>
						</ul>
					</div>
					<div class="line-vertical"></div>
					<div style="width: 330px;" class="transform-container">
						<h2 class="transform-title transform-titl-ohter">劳务信息
							<a style="font-size: 14px;color: #999999;float: right;margin-top: 10px;" ui-sref="main.industryInfo">更多></a>
						</h2>
						<ul>
							<li ng-repeat="info in infoList.labourInfo | slice:0:7">{{info.title}}</li>
						</ul>
					</div>
					<div class="line-vertical"></div>
					<div style="width: 330px;" class="transform-container">
						<h2 class="transform-title transform-titl-ohter">食材对接
							<a style="font-size: 14px;color: #999999;float: right;margin-top: 10px;" ui-sref="main.industryInfo">更多></a>
						</h2>
						<ul>
							<li ng-repeat="info in infoList.foodInfo | slice:0:7">{{info.title}}</li>
						</ul>
					</div>
				</div>

			</div>
			
			<div style="background-color: #f3f3f3;width: 100%;height: 460px;padding-top: 50px;">
				<div class="container" style="width: 1140px;height: 310px;">
					
					
					<div style="height: 310px;width: 1140px;display: inline-flex;">

						
						
						<div style="width: 551px;display: inline-flex;background: #ffffff;">
							<div style="height: 310px;width: 225px;">
								<img src="./resources/img/culture.jpg" class="img-responsive" alt="Cinque Terre" style="height: 310px;width: 225px;">
								
							</div>
							<div class="health-content1">
								<a ui-sref="main.culture">闽菜文化</a>
								<p style="font-size: 14px;letter-spacing: 2px;margin-top: 18px;color: #666666;">闽菜是中国八大菜系之一，经历了中原汉族文化和当地古越族文化的混合、交流而逐渐形成。闽菜是以福州菜为基础，后又融合闽东、闽南、闽西、闽北、莆仙地方风味菜为主形成的菜系。福建人民经过与海外、特别是南洋群岛人民的长期交往，海外的饮食习俗也逐渐渗透到闽人的饮食生活之中，从而使闽菜成为带有开放特色的一种独特的菜系。闽菜以烹制山珍海味而著称，在色香味形俱佳的基础上，尤以“香”、“味”见长，其清鲜、和醇、荤香、不腻的风格特色，以及汤路广泛的特点，在烹坛园地中独具一席。</p>
								<a style="font-size: 14px;color: #999999;float: right;margin-top: 10px;" ui-sref="main.culture">更多></a>
							</div>

						</div>
						<div style="width: 551px;display: inline-flex;background: #ffffff;margin-left: 40px;">
							<div style="height: 310px;width: 225px;">
								<img src="./resources/img/map.jpg" class="img-responsive" alt="Cinque Terre" style="height: 310px;width: 225px;">
								
							</div>
							<div class="health-content1">
								<a ui-sref="main.map">美食地图</a>
								<p style="font-size: 14px;letter-spacing: 2px;margin-top: 18px;color: #666666;">闽菜发源于福州，以福州闽菜为代表，狭义闽菜指以福州菜为主体，代表着闽菜的文化与时尚。闽菜最早起源于福建福州闽县，在后来发展中形成福州、闽南、闽西三种流派，即广义闽菜。福州菜淡爽清鲜，讲究汤提鲜，擅长各类山珍海味，闽南菜包括泉州、厦门、漳州一带，讲究作料调味，重鲜香：闽西菜包括长汀及西南一带地方，偏重咸辣，烹制多为山珍，带有山区风味。故此，闽菜形成三大特色，一长于红糟调味，二长于制汤，三长于使用糖醋。这一传统即使进入上海，尽染海派风味后，依然未变。闽菜除了招牌菜“佛跳墙”外，还有鱼丸、乌柳居（五柳居）、白雪鸡、闽生果，醉排骨、红糟鱼排等等，均别有风味。</p>
								<a style="font-size: 14px;color: #999999;float: right;margin-top: 10px;" ui-sref="main.map">更多></a>
							</div>

						</div>
						
						
					</div>
				</div>
			</div>

					

					
					
					
					

		</div>
	</div>