<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<title>福建餐饮网</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./resources/css/main.css">
	<link rel="stylesheet" type="text/css" href="./resources/css/footer.css">
	<script type="text/javascript" src="./jquery/jquery.min.js"></script>
	<script type="text/javascript" src="./bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./angularjs/angular.js"></script>
	<script type="text/javascript" src="./angularjs/angular-ui-router.js"></script>
	<script type="text/javascript" src="./resources/js/application.js" ></script>
	<script type="text/javascript" src="./resources/js/controller/mainController.js"></script>
	<script type="text/javascript" src="./resources/js/controller/homepageController.js"></script>
	<script type="text/javascript" src="./resources/js/controller/newsController.js"></script>
	<script type="text/javascript" src="./resources/js/controller/chefRestaurantController.js"></script>
</head>
<body>
	<div ui-view></div>
	<div class="row" style="width: 100%; background-color: #4a4a4a; color: #adadad; margin-right: auto; margin-left: auto;">
		<div class="container" style="width: 1140px; height: 120px; line-height: 120px; text-align: center; font-size: 12px;">
				<div class="row" style="text-align: left;">
					<div class="col-md-8 col-lg-8" style="padding-top: 30px;">
						<div class="row" style="height: 30px; line-height: 30px;">
							<ul class="foot-nav">
								<li ng-click="goToHomepage()"><a href="">首页</a></li>
								<li>|</li>
								<li ng-click="goToHomepage()"><a href="">闽菜文化</a></li>
								<li>|</li>
								<li ng-click="goToHomepage()"><a href="">闽菜菜谱</a></li>
								<li>|</li>
								<li ng-click="goToVideo()"><a href="">视频教学</a></li>
								<li>|</li>
								<li ng-click="goToChefRestaurant()"><a href="">名师名店</a></li>
								<li>|</li>
								<li ng-click="goToNews()"><a href="">行业新闻</a></li>
								<li>|</li>
								<li ng-click="goToIndustryInfo()"><a href="">产业对接</a></li>
								<li>|</li>
								<li ng-click="goToMap()"><a href="">美食地图</a></li>
							</ul>
						</div>
						<div class="row" style="height: 30px; line-height: 30px;">
				            <p>&copy; 2004-2017 福建餐饮网 保留所有权利 - 闽ICP证090244号</p>
				        </div>
					</div>

					<div class="col-md-4 col-lg-4" >
						<div class="ft4" style="color: #eee;">
				            关注我们&nbsp;>&nbsp;&nbsp;&nbsp;<img class="imgLoad" src="./resources/img/qrcode.jpg" width="80px" height="80px" title="微信公众号">
				        </div>	
					</div>
				</div>
			</div>
	</div>
	
</body>

</html>