
		<div class="container" style="width: 1140px; height: 800px;margin-top: 40px;" ng-controller="IndustryinfoController">

			<div class="row">
				<div class="col-md-12 col-lg-12">
				<ul id="myTab" class="nav nav-tabs" style="height: 30px;">
					<li ng-class="selectedIndustryType.type ==industryType.type ?'active':''" ng-repeat="industryType in industryTypeArrays">
						<a href=""  style="font-weight: bold;font-size: 15px" ng-click='changeType(industryType)'>
							 {{industryType.name}}
						</a>
					</li>
				</ul>
				</div>
			</div>
			<div class="row tab-content" style="height: 220px;">
				<div class="col-md-12 col-lg-12 "  style="margin-top: 10px;" >
					<ul class="list-group">
					    <li class="list-group-item rent" style="height: 50px;" ng-repeat="labourInfo in data.content">
							    <a href="" class="rent-name list" ng-click="goToInfo(labourInfo.id)">
							    	{{labourInfo.title}}
							    </a>
					    		<h4 style="font-size: 14px;float: right;color: #999999" class="rent-time">
									{{commonUtil.getDateFromInt(labourInfo.time_created)}}
								</h4>
								<h4 style="font-size: 17px;color:#333;float: right;margin-right:250px;" class="rent-time">
									
								</h4>	
						</li>
						
					   
					</ul>	
					
					

				</div>
				</div>
				<t-footer page-size = 'data.size' page-num = 'data.number' total-page = 'data.total_pages' total-num = 'data.total_elements' change-page-size-fun = 'changePageSizeFun(size)' goto-page-fun='gotoPageFun(page)'></t-footer>
			
			</div>
		
			

			
			
