
<link rel="stylesheet" type="text/css" href="./resources/css/header.css">

<div class="row" style="margin-left: auto; margin-right: auto; width:1920px;" ng-controller="MainController">
	<div style="margin-left: auto; margin-right: auto; width: 1140px; height: 65px; line-height:65px;">
		<span style="text-align: center; float: left; font-size: 24px; font-weight: bold; color: #e43232;">福建餐饮网</span>
		<span style="text-align: center; float: left; margin-left: 150px; height: inherit;">
			<ul class="nav nav-pills" role="tablist">
				<li class="main-menu" ng-click="goToHomepage()"><a href="">首页</a></li>
				<li class="main-menu" ng-click="goToCulture()"><a href="">闽菜文化</a></li>
				<li class="main-menu" ng-click="goToMenu()"><a href="">闽菜菜谱</a></li>
				<li class="main-menu" ng-click="goToVideo()"><a href="">视频教学</a></li>
				<li class="main-menu" ng-click="goToChefRestaurant()"><a href="">名师名店</a></li>
				<li class="main-menu" ng-click="goToNews()"><a href="">行业新闻</a></li>
				<li class="main-menu" ng-click="goToIndustryInfo()"><a href="">产业对接</a></li>
				<li class="main-menu" ng-click="goToMap()"><a href="">美食地图</a></li>
					<!-- <li class="dropdown main-menu" ng-click="goToIndustryInfo()"> -->
				    	<!-- <a href="" class="dropdown-toggle" data-toggle="dropdown" >产业对接
				    		<span class="caret"></span>
				    	</a>
				    	<ul class="dropdown-menu" role="menu">
					        <li><a href="">劳务信息</a></li>
					        <li><a href="">餐饮转让</a></li>
					        <li><a href="">食材对接</a></li>
					    </ul> -->
					    <!-- </li> -->
			</ul>
		</span>
		 <button type="button" class="btn btn-default" style="float: right;margin-top: 13px;" ng-click="goToCreate();">发布消息</button>
	</div>
	<div ui-view></div>
</div>
