<div style="margin-top: 40px;background: #fff;width: 100%;min-height: 800px;margin-bottom: 200px;padding: 75px;" ng-controller="MainController">
	<div class="container" style="width: 100%;height: 90px;margin-top: -50px;">

			<div class="row" style="background: #fff;height: 90px;">
				<div class="col-md-2 col-lg-2"  >
					<h2 style="font-weight: 700;">福建餐饮网</h2>

				</div>

				<div class="col-md-8 col-lg-8" style="padding-left: 100px;">
					<ul class="list-inline" style="margin-top: 15px;">
						<li style="font-size: 18px;margin: 10px;cursor: pointer;color: #ff0000;">闽菜文化</li>
						<li style="font-size: 18px;margin: 10px;cursor: pointer;">闽菜菜谱</li>
						<li style="font-size: 18px;margin: 10px;cursor: pointer;" ng-click="goToVideo()">视频教学</li>
						<li style="font-size: 18px;margin: 10px;cursor: pointer;"  ng-click="goToChefRestaurant()">名师名店</li>
						<li style="font-size: 18px;margin: 10px;cursor: pointer;" ng-click="goToNews()">行业新闻</li>
						<li style="font-size: 18px;margin: 10px;cursor: pointer;" ng-click="goToIndustryInfo()">产业对接</li>
						<li style="font-size: 18px;margin: 10px;cursor: pointer;">美食地图</li>
					</ul>
				</div>

				<div class="col-md-2 col-lg-2" >
					<div class="input-group" style="margin-top: 20px;">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" style="background: #989898;color: #fff">
								搜索
							</button>
						</span>
					</div>		
				</div>
			</div>
		</div>
		
		<div ui-view></div>
	</div>