<div style="margin-top: 40px;background: #fff;width: 100%;min-height: 800px;margin-bottom: 200px;padding: 75px;" ng-controller="MainController">
	<div class="container" style="width: 100%;height: 90px;margin-top: -50px;">

			<div class="row" style="background: #fff;height: 90px;">
				<div class="col-md-2 col-lg-2"  >
					<h2 style="font-weight: 700;">福建餐饮网</h2>

				</div>

				<div class="col-md-8 col-lg-8" style="padding-left: 100px;margin-top: 10px;">
					<ul class="nav nav-pills" role="tablist" >
					    <li class="main-menu"><a href="">闽菜文化</a></li>
					    <li class="main-menu"><a href="">闽菜菜谱</a></li>
					    <li class="main-menu" ng-click="goToVideo()"><a href="">视频教学</a></li>
					        
					    <li class="dropdown main-menu" ng-click="goToChefRestaurant()">
					      <a class="dropdown-toggle" data-toggle="dropdown" href="">
					      名师名店 <span class="caret"></span></a>
					      <ul class="dropdown-menu" role="menu">
					        <li><a href="">名师</a></li>
					        <li><a href="">名店</a></li>
					        <li><a href="">名小吃</a></li>
					      </ul>
					    </li>
					    <li class="main-menu" ng-click="goToNews()"><a href="">行业新闻</a></li>
					    <li class="dropdown main-menu" ng-click="goToIndustryInfo()">
					    	<a href="" class="dropdown-toggle" data-toggle="dropdown" >产业对接
					    		<span class="caret"></span>
					    	</a>
					    	<ul class="dropdown-menu" role="menu">
						        <li><a href="">劳务信息</a></li>
						        <li><a href="">餐饮转让</a></li>
						        <li><a href="">食材对接</a></li>
						     </ul>
					    </li>
					    <li class="main-menu" ng-click="goToMap()"><a href="">美食地图</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-lg-2" >
					<div class="input-group" style="margin-top: 20px;">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" style="background: #989898;color: #fff">
								搜索
							</button>
						</span>
					</div>		
				</div>
			</div>
		</div>
		
		<div ui-view></div>
	</div>